In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\karni\OneDrive\Documents\GitHub\LULULEMON-HACKATHON-2025\data\lululemon_dummy_5000.csv') # change the path to where you saved the CSV file
df.head()

,user_id,session_id,timestamp,action,product_id,product_name,category,price_usd,size_selected,color_selected,payment_method,device,location,search_query
0,181,sess_2824,2025-08-02T03:19:00,purchase,MSH033,"Surge Short 6""",Men > Shorts,68.0,S,White,Credit Card,iOS,"Connieborough, Cook Islands",NaN
1,175,sess_7912,2025-08-02T10:42:00,view_product,WSB021,Energy Bra Long Line,Women > Bras,58.0,S,White,NaN,iOS,"Diazshire, Vietnam",NaN
2,171,sess_4257,2025-08-30T13:50:00,search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,iOS,"Grahambury, Barbados",grow
3,157,sess_5557,2025-08-01T07:05:00,add_to_cart,MHD099,City Sweat Pullover Hoodie,Men > Hoodies,108.0,M,Navy,NaN,iOS,"Jonathanmouth, Guinea-Bissau",NaN
4,127,sess_6514,2025-08-05T15:38:00,view_product,MHD099,City Sweat Pullover Hoodie,Men > Hoodies,108.0,XS,Navy,NaN,Android,"South Keith, Lithuania",NaN